<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    
    <link rel="stylesheet" href="../static/predict.css" /> 

    <style>
      .footer {
    background-color: #f0f9ff; /* Footer background to match the theme */
    color: #333; /* Footer text color */
    padding: 20px 0;
    text-align: center;
  }
    </style>
  </head>     
<body class="bg-gray-50 text-gray-800">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <nav class="flex justify-between items-center py-6">
        <a href="/" class="text-2xl font-bold text-gray-800">Urban Space</a>
        <div class="menu-toggle" onclick="toggleMenu()">
          <i class="fas fa-bars fa-2x"></i>
        </div>
        <div class="nav-links hidden md:flex">
          <a href="/predict" class="text-gray-600 mx-2">Explore City</a>
          <a href="/visualize" class="text-gray-600 mx-2">Visualize</a>
          <a href="/generate" class="text-gray-600 mx-2">Generate</a>
        </div>
      </nav>

        <div class="container mx-auto px-4 py-8 max-w-3xl">
          
        <footer class="footer bg-green-50">
          <p class="text-gray-800">&copy; 2024 Urban Space. All rights reserved.</p>
        </footer>
    </div>
    <script src="../static/predict.js"></script>
    <script>
      function toggleMenu() {
        var navigation = document.querySelector('.nav-links');
        navigation.classList.toggle('mobile-menu');
      }
    </script>
</body>
</html>
